.tfl-base{
    position: fixed;
    left: 75px;
    bottom: 75px;
    padding: 5px;
}

.tfl-row-good{
    color:#A7A7A7
}

.tfl-row{
}

.tfl-status-cell{
    display: table-cell;
    padding: 2px;
}

.tfl-line-cell{
    display: table-cell;
    padding: 2px;
    width: 200px;
    font-size: 16pt;
}

.severity-cell{
    display: table-cell;
    font-size: 16pt;
    width: 150px
}

.description-cell{
    display: table-cell;
    width: 400px
}