.icon-sun{
  animation: spin infinite 20s linear;
  height: 80%;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon-sun-small{
  animation: spin infinite 20s linear;
  height: 70%; 
  position: absolute;
  top: 5%; 
  left: 5%;
}

.icon-drop1{
  animation: drop infinite 0.6s linear;
  position: absolute;
  height: 25%;
  left: 20%;
}

.icon-drop2{
  animation: drop infinite 0.6s linear;
  animation-delay: 0.2s;
  position: absolute;
  height: 25%;
  left: 40%;
}

.icon-drop3{
  animation: drop infinite 0.6s linear;
  position: absolute;
  animation-delay: 0.4s;
  height: 25%;
  left: 60%;
}

.icon-drop4{
  animation: drop infinite 1.5s linear;
  position: absolute;
  animation-delay: 0s;
  height: 25%;
  left: 25%;
}

.icon-drop5{
  animation: drop infinite 1.5s linear;
  position: absolute;
  animation-delay: 0.75s;
  height: 25%;
  left: 55%;
}

@keyframes drop {
  0% { top: 40%; }
  80% { opacity: 1}
  100% { top: 80%; opacity: 0}
}

.icon-flash{
  animation: flash infinite 2s;
  position: absolute;
  height: 50%;
  top: 50%;
  left: 25%
}

@keyframes flash{
  0% {opacity: 1; animation-timing-function: step-end}
  30% {opacity: 0; animation-timing-function: step-end}
  35% {opacity: 1; animation-timing-function: step-end}
  40% {opacity: 0; animation-timing-function: step-end}
  45% {opacity: 1; animation-timing-function: step-end}
}

.icon-cloud-small{
  position: absolute;
  width: 70%;
  top: 5%;
  left: 15%;
}