.weather-base{
    position: fixed;
    right: 30px;
    top: 50px;
    padding: 5px;
}

.weather-row{
    position:relative;
    padding-bottom: 5px;
}

.weather-tt{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    padding: 5px;
}

.weather-time{
    font-size: 12pt;
}

.weather-temp{
    font-size: 16pt;
}

.weather-icon{
    position: relative;
    display: table-cell;    
    height: 70px;
    width: 70px;
}
